@using WebAppEntities.Entities;
@model Teacher

@{
    ViewData["Title"] = "ViewTeacher";
}

<h1>Teacher Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherFname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeacherFname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherLname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeacherLname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeacherEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherPhoneNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeacherPhoneNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HireDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeptId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeptId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="StudentList">Back to Student List</a>
</div>
