@using WebAppEntities.Entities;
@model Student

@{
    ViewData["Title"] = "ViewStudent";
}

<h1>Student Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentFname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentFname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentLname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentLname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentPhoneNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentPhoneNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentDob)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentDob)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherId)
        </dt>
        <dd class="col-sm-10">
            @Html.ActionLink(Model.TeacherId.ToString(), "ViewTeacher", new { id = Model.TeacherId })
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "EditStudent", new { id = Model.StudentId }) |
    <a asp-action="StudentList">Back to List</a>
</div>
