@model IEnumerable<AssignmentEFEntities.Entities.EmployeeTable>

@{
    ViewData["Title"] = "EmployeeList";
}

<h1>Employee List</h1>
@Html.ActionLink("Create a new employee", "AddEmployee")

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesignationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DesignationId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditEmployee", new { id = item.Id }) |
                    @Html.ActionLink("Details", "ViewEmployee", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteEmployee", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
